1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
#1.a
for i in range(1, 100):
    if i%5==0 and i%3==0: 
        print("MickeyMouse")
    elif i%3==0:
        print("Mickey")
    elif i%5==0:
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

In [20]:
#1.b
#Create the tuple and fill it
t = ()
for i in range(1, 100):
    if i%5==0 and i%3==0: 
        t = t + ("MickeyMouse",)
    elif i%3==0:
        t = t +("Mickey",)
    elif i%5==0:
        t = t + ("Mouse",)
    else:
        t = t + (i,)

#Make the changes in a new tuple
new_t = ()
for j in range(len(t)):
    #Save element
    e = t[j]

    #Make changes if needed
    if t[j] == "Mickey":
        e = "Donald"
    elif t[j] == "Mouse":
        e = "Duck"
    
    #Add element to the list
    new_t = new_t + (e,)

#Save results in t and clear space
t = new_t
del new_t

t

(1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald')

In [28]:
#1.b - other way (suboptimal)

#Create the tuple and fill it
t = ()
for i in range(1, 100):
    if i%5==0 and i%3==0: 
        t = t + ("MickeyMouse",)
    elif i%3==0:
        t = t +("Mickey",)
    elif i%5==0:
        t = t + ("Mouse",)
    else:
        t = t + (i,)

#Note that you have to cast integer into string to performe replacement
new_t = tuple (str(e).replace("Mickey", "Donald").replace("Mouse", "Duck") for e in t)
new_t

('1',
 '2',
 'Donald',
 '4',
 'Duck',
 'Donald',
 '7',
 '8',
 'Donald',
 'Duck',
 '11',
 'Donald',
 '13',
 '14',
 'DonaldDuck',
 '16',
 '17',
 'Donald',
 '19',
 'Duck',
 'Donald',
 '22',
 '23',
 'Donald',
 'Duck',
 '26',
 'Donald',
 '28',
 '29',
 'DonaldDuck',
 '31',
 '32',
 'Donald',
 '34',
 'Duck',
 'Donald',
 '37',
 '38',
 'Donald',
 'Duck',
 '41',
 'Donald',
 '43',
 '44',
 'DonaldDuck',
 '46',
 '47',
 'Donald',
 '49',
 'Duck',
 'Donald',
 '52',
 '53',
 'Donald',
 'Duck',
 '56',
 'Donald',
 '58',
 '59',
 'DonaldDuck',
 '61',
 '62',
 'Donald',
 '64',
 'Duck',
 'Donald',
 '67',
 '68',
 'Donald',
 'Duck',
 '71',
 'Donald',
 '73',
 '74',
 'DonaldDuck',
 '76',
 '77',
 'Donald',
 '79',
 'Duck',
 'Donald',
 '82',
 '83',
 'Donald',
 'Duck',
 '86',
 'Donald',
 '88',
 '89',
 'DonaldDuck',
 '91',
 '92',
 'Donald',
 '94',
 'Duck',
 'Donald',
 '97',
 '98',
 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [29]:
#The python way
x = 2
y = 3

x, y = y, x
print(x, y)


#The standard way
x = 2
y = 3

t = x
x = y
y = t
del t
print(x, y)

3 2
3 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [33]:
u = (3, 0)
v = (0, 4)

dist = lambda x, y: ((x[0]+y[0])**2 + (x[1]+y[1])**2)**0.5
dist(u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [32]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

d = {}
for e in s:
    e = e.lower()
    if e in d:
        d[e] += 1
    else:
        d[e] = 1

print(d)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#List: only the values that appear once and only once 
unique_vars = [e for e in l if l.count(e) == 1]
print("Result using a set:", len(unique_vars))

### Should I use the set instead? Interpretation problem! ###
#Set: the values that appear at least once
set_l = set(l)
print("Result using a set:", len(set_l))

Result using a set: 37
Result using a set: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
pow2 = lambda x: x**2
pow3 = lambda x: x**3
pow6 = lambda x: pow2(pow3(x))

x = 3
print(pow2(x), pow3(x), pow6(x))

9 27 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
c1 = []
for e in range(11):
    c1.append(e**3)

c2 = [e**3 for e in range(11)]

c1, c2

([0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [27]:
#(3, 4, 5) \neq (4, 3, 5)
def find_triples():
    t = ()
    for a in range(1, 101):
        #Iterate b from 1 to 101
        for b in range(1, 101):
            c_guess = (a**2 + b**2)**0.5

            #Check if pythagorean triple
            if c_guess == int(c_guess) and c_guess < 100:
                triple = (a, b, int(c_guess))
                t = t + (triple, )
    
    return t

#(3, 4, 5) = (4, 3, 5)
def find_triples2():
    t = ()
    for a in range(1, 101):
        #That's the difference: b from 1 to a
        for b in range(1, a):
            c_guess = (a**2 + b**2)**0.5

            #Check if pythagorean triple
            if c_guess == int(c_guess) and c_guess < 100:
                triple = (a, b, int(c_guess))
                t = t + (triple, )
    
    return t

In [28]:
res = find_triples()
print(len(res))

res = find_triples2()
print(len(res))

100
50

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [29]:
def normalize(t):
    assert type(t) is tuple, "Wrong type"
    norm = (t[0]**2 + t[1]**2)**0.5
    return (t[0]/norm, t[1]/norm)

In [31]:
x = [1, 2]
normalize(x)

AssertionError: Wrong type